:root {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding: 10px;
}

h2 {
  padding: 10px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8D828F;
  color: white;
}

.main {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;
  background-color: #A385AA;
  border-radius: 8px;
  padding-bottom: 10px;
}

.main.changed {
  padding: 20px;
  height: 100vh;
  width: 100%;


}

.main button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow .15s, transform .15s;
  font-size: 16px;
}

.main button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.main button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.main button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.main button.result {
  padding-left: 62px;
  padding-right: 62px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}

span {
  font-weight: 300;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 8px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-size: 18px;
  font-style: italic;
}

.info label {
  grid-row: 1/2;
}

textarea {
  border: 1px solid #A385AA;
  border-radius: 8px;
}

.info input {
  outline: 3px solid transparent;
  border-color: #A385AA;
  border-radius: 8px;
  grid-row: 2/3;
}


#root input {
  flex-grow: 1;
}

#root textarea {
  width: 90%;
  max-width: 700px;
  flex-grow: 1;
  resize: none;
}

@media (width <=1250px) {
  .info {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }

  .info>input {
    width: 28rem;
  }
}
